<md-toolbar color="accent">
    <button md-icon-button (click)="prevSong()"><md-icon>skip_previous</md-icon></button>
    <button md-icon-button (click)='togglePlay()'>
      <md-icon *ngIf="currentSong !== undefined; else elseBlock">pause</md-icon>
      <ng-template  #elseBlock><md-icon>play_arrow</md-icon></ng-template>
    </button>
    <button md-icon-button (click)="nextSong()"><md-icon>skip_next</md-icon></button>
    <span class="spacer"></span>
    <h5 *ngIf="currentSong !== undefined">{{currentSong.artist}} - {{currentSong.title}}</h5>
    <span class="spacer"></span>
    <md-button-toggle><md-icon>shuffle</md-icon></md-button-toggle>
    <md-button-toggle><md-icon>repeat</md-icon></md-button-toggle>
</md-toolbar>
