@(artists:List[String],artist:Option[String], album:Option[String], header:String)(fn: String => play.api.mvc.Call)

<table class="full-width"
	@for(art <- artist) {
		data-artist="@art"
	}
	@for(alb <- album) {
		data-album="@alb"
	}
>
  <thead>
    <tr>
      <td>@header</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    @artists.map { x =>
      <tr data-name="@x">
        <td><a href="@fn(x)">@x</a></td>
        <td>
          @icon("fi-plus", "add-to-playlist-btn", true)("font-btn")
        </td>
      </tr>
    }
  </tbody>
</table>
