@(activeSide:String)

@defining(List(
    "Playlist" -> controllers.routes.Application.index,
    "Library" -> controllers.routes.Application.lib(None, None),
    "Stream" -> controllers.routes.Application.stream,
    "About" -> controllers.routes.Application.about
  )) { sides =>

<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>


    <div class="top-bar" id="main-menu">
      <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu">
          @sides.map { case (name, route) =>
            @if(name == activeSide) {
              <li class="bold">
            } else {
              <li>
            }
           		@if(name == "Stream") {
           			<a href="@route" target="_blank">@name</a>
           		} else {
           			<a href="@route">@name</a>
           		}
            	</li>
          }
        </ul>
      </div>
      <div class="top-bar-right">
      </div>
      <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search in DB"></li>
            <li><button type="button" class="button" id="search-btn">Search</button></li>
        </ul>
      </div>
    </div>
}
