@(title:Option[Title])

@newIcon(iconname:String, id:String) = {
  @icon(iconname, id)("font-btn", "blue-on-hover")
}
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu">
      <li>
<!--
        <span class="fi-previous size-60 font-btn blue-on-hover" id="prev-btn"></span></li>
-->
      @newIcon("fi-previous", "prev-btn")
      @if(title.isDefined && title.get.isPlaying){
        <li>
          @newIcon("fi-stop", "stop-btn")
        </li>
      } else {
        <li>
          @newIcon("fi-play", "stop-btn")
        </li>
      }
      <li>@newIcon("fi-next", "next-btn")</li>

    @title match {
      case Some(t) => {
        <li class="actual-song-text">
            @t.artist - @t.name
        </li>
      }
      case None => {}
    }

    <li class="actual-song-text left-10-pt">Volume</li>
    <li class="left-10-pt">@newIcon("fi-minus", "volume-minus-btn")</li>
    <li id="volume-container">
      <div class="progress" role="progressbar" tabindex="0"
        aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
        <div class="progress-meter" style="width: 40%"></div>
      </div>
    </li>
    <li class="left-10-pt">@newIcon("fi-plus", "volume-plus-btn")</li>
    <li class="left-10-pt">@newIcon("fi-refresh", "repeat-btn")</li>
    <li class="left-10-pt">@newIcon("fi-shuffle", "shuffle-btn")</li>
  </ul>
  </div>
</div>
