@import models.MpdStatus

@(status:MpdStatus)

@newIcon(iconname:String, id:String, activate:Boolean = false) = {
  @if(activate) {
		@icon(iconname, id, true,  List("""active="1""""))("font-btn", "blue", "blue-on-hover")
	} else {
  		@icon(iconname, id, true)("font-btn", "blue-on-hover")
	}
}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu">
      <li>
      @newIcon("fi-previous", "prev-btn")
      @if(status.isPlaying){
        <li>
          @newIcon("fi-stop", "stop-btn")
        </li>
      } else {
      	@if(!status.status.isDefined) {
      	<li>
      		<span id="unknown-btn">?</span>
      	</li>
      	} else {
        <li>
          @newIcon("fi-play", "stop-btn")
        </li>
      	}
      }
      <li>@newIcon("fi-next", "next-btn")</li>

       <li class="actual-song-text">
           @status.actualSong.artist - @status.actualSong.name
       </li>

    <li class="actual-song-text left-10-pt">Volume</li>
    <li class="left-10-pt">@newIcon("fi-minus", "volume-minus-btn")</li>
    <li id="volume-container">
      <div class="progress" role="progressbar" tabindex="0"
        aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
        <div class="progress-meter" style="width: 40%"></div>
      </div>
    </li>
    <li class="left-10-pt">@newIcon("fi-plus", "volume-plus-btn")</li>
    <li class="left-10-pt">@newIcon("fi-refresh", "repeat-btn", status.isLooping)</li>
    <li class="left-10-pt">@newIcon("fi-shuffle", "shuffle-btn", status.isShuffling)</li>
  </ul>
  </div>
</div>
