@(title:Title, idx:Int)

<tr class="playlist-item" idx="@idx">
  <td>
    @icon("fi-minus-circle", "remove-song", true)("step", "red")
    @if(title.isPlaying){
      <br/>
      @icon("fi-play", "actual-song-icon")("step")
    }
  </td>
  <td class="clickable-elem">@idx</td>
  <td class="clickable-elem">
    <p class="bold link-cursor" id="playlist-song-name">@title.name</p>
    <p class="description">@title.artist - @title.album</p>
  </td class="clickable-elem">
  <td>@{ s"${title.length._1} : ${title.length._2}" }</td>
</tr>
