@import models.MpdStatus
@import play.api.mvc.RequestHeader

@(title:String, withWebsocket:Boolean=false)(content: Html)(implicit header:RequestHeader)
<!DOCTYPE html>

<html lang="en">
    <head>
	   	<meta name="viewport" content="width=device-width" />
	   	<meta charset="UTF-8" />
      @head(title)
    </head>
    <body>
        @menu(title)

        <h2 style="text-align:center;">@title</h2>
        @content

		@scripts(withWebsocket)
        <script>
          $(document).foundation();
        </script>
    </body>
</html>
