@import models.MpdStatus

@(title:String, status:MpdStatus, withWebsocket:Boolean=false)(content: Html)
<!DOCTYPE html>

<html lang="en">
    <head>
	   	<meta name="viewport" content="width=device-width" />
	   	<meta charset="UTF-8" />
      @head(title)
    </head>
    <body>
        @menu(title)
        @**
        @play_line(status)
        **@

        <div class="row">
          <div class="small-9 small-centered columns">
            <div>
              <h2 style="text-align:center;">@title</h2>
            </div>
            @content
          </div>
        </div>

		@scripts(withWebsocket)
        <script>
          $(document).foundation();
        </script>
    </body>
</html>
