<md-sidenav-container>
	<md-sidenav #sidenav mode="side" opened="true">
		<md-nav-list>
			<a md-list-item href="#">Current</a>
			<a md-list-item href="#">Other</a>
		</md-nav-list>
	</md-sidenav>
	<md-list>
		<md-list-item *ngFor="let song of getSongs()" (click)="playSong(song)">
			<md-icon *ngIf="song === playingSong()" md-list-icon color="accent">play_arrow</md-icon>
			<h3 md-line> {{song.title}} </h3>
	    <p md-line>
	      {{song.artist}} -
	      <span class="album-label"> {{song.album}} </span>
	    </p>
			<p>{{song.length | number:'2.2'}}</p>
		</md-list-item>
	</md-list>
</md-sidenav-container>
