@import "variables";
@import "util";

@playlist-icon-size: 24pt;
@table-header-icon-size: @playlist-icon-size - 6pt;
#actual-song-icon {
  color: @green;
  font-size:@playlist-icon-size;
}
#remove-song {
  font-size:@table-header-icon-size;
}
#save-playlist-btn {
  font-size:@table-header-icon-size;
}
#clear-playlist-btn {
  margin-left: 10px;
  font-size: @table-header-icon-size;
}
#add-to-playlist-btn {
  color: @green;
}
span.font-btn {
  margin-right: 10px;
  font-size: 16pt;
}
.actual-song-text {
  font-size:10pt;
}

.left-6-pt {
    margin-left: 4px !important;
}

li#volume-container {
  width: 100px;
  padding-top: 15px;
}
