@import "variables";
.bold {
  font-weight: bold;
}

.blue {
	color: @blue;
}
.red {
  color: @red;
}

.description {
  font-size: 11pt;
}

.full-width {
  width:100%;
}
.blue-on-hover:hover {
  color: @blue;
}
.rounded-edges {
  border-radius:6px;
}
.progressbar-button {
  margin-left: 5%;
  margin-top: 8px;
}
.link-cursor {
  cursor:pointer;
}
