@import templates._
@import models.MpdStatus

@(general:Map[String, String], dbstat:Map[String, String])(implicit status:MpdStatus)

@headLine(s:String)={
  <h4>@s</h4>
}
@genRow(kv: (String, String))={
  <tr>
    <td class="bold">@kv._1</td>
    <td>@kv._2</td>
  </tr>
}

@side("About", status) {
  <div class="row">
  	<h1 class="red">This page is under construction!</h1>
    <div class="small-6 columns">
      @headLine("General")
      <table>
        <tbody>
          @general.map(genRow(_))
        </tbody>
      </table>
    </div>
    <div class="small-6 columns">
      @headLine("Database Statistics")
      <table>
        <tbody>
          @dbstat.map(genRow(_))
        </tbody>
      </table>
    </div>
  </div>
}
