@import templates._

@(msg:String)

<!DOCTYPE html>

<html lang="de">
    <head>
    	<meta name="viewport" content="width=device-width">
    	<meta charset="UTF-8">
      @head("MPD - Error")
    </head>
    <body>
        @menu("MPD - Error")
        <div class="row">
          <div class="small-9 small-centered columns">
            <div class="alert callout" style="margin-top: 5%;">
              <p style="text-align:center;" class="bold">An error occured while handling your request!</p>
              <p style="text-align:center;">@msg</p>
            </div>
          </div>
        </div>

        <script>
          $(document).foundation();
        </script>
    </body>
</html>
        