@import templates._
@import models.MpdStatus

@(titles:List[Title])(implicit status:MpdStatus)

@side("Playlist", status) {
  @change_playlist(List("Blup", "Hans", "Nico"))
  <table id="playlist-table" class="full-width">
    <thead>
      <tr>
        <td>
            <a data-toggle="save-playlist-modal" class="fi-save size-60"
              id="save-playlist-btn"></a>
            <a href="@routes.Player.clearPlaylist">
              <span class="fi-page-delete size-60 step red"
                  id="clear-playlist-btn">
              </span>
            </a>
        </td>
        <td>#</td>
        <td>Title</td>
        <td>Length</td>
      </tr>
    </thead>
    <tbody>
      @titles.zipWithIndex.map(x => playlist_line(x._1, x._2))
    </tbody>
  </table>

  <div class="reveal" id="save-playlist-modal" data-reveal>
    <p>Save the playlist as:</p>
    <form action="@routes.Player.savePlaylist" method="post">
      <div class="input-group">
      <input class="input-group-field" type="text" placeholder="awesome-playlist-name" name="playlistname">
      <div class="input-group-button">
        <input type="submit" class="button" value="save">
      </div>
    </div></form>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
}
