@import templates._
@import models.MpdStatus

@(titles:List[Title], playlists:List[String])(implicit status:MpdStatus)

@playerControl(lbl:Option[String], id:String)(css:String*)={
  <button id="@id" class="button rounded-edges @css.mkString(" ")">
    @lbl.getOrElse("")
  </button>
}

@side("Playlist", status, true) {
  <div class="row">
    <div class="column small-centered small-6">
      <span id="actual-song-line" style="">
        @status.actualSong match {
         case Some(song) => { @song.artist - @song.name }
         case None => { }
        }
      </span>
    </div>
  </div>
  <div class="row">
    <div class="column small-centered small-6">
      @playerControl(None, "prev-btn")("small", "fi-previous")

      @if(status.isPlaying) {
        @playerControl(None, "stop-btn")("fi-stop")
      } else {
          @playerControl(None, "stop-btn")("fi-play")
      }

      @playerControl(None, "next-btn")("small", "fi-next")

      @if(status.isLooping) {
          @playerControl(None, "repeat-btn")("small", "fi-refresh")
      } else {
        @playerControl(None, "repeat-btn")("small", "fi-refresh", "hollow")
      }
      @if(status.isShuffling) {
        @playerControl(None, "shuffle-btn")("small", "fi-shuffle")
      } else {
        @playerControl(None, "shuffle-btn")("small", "fi-shuffle", "hollow")
      }

    </div>
  </div>
  <div class="row">
    <div class="column small-centered small-6">
        <span>Volume</span>
        @playerControl(None, "volume-minus-btn")("small", "fi-minus", "progressbar-button")
        <div class="progress" role="progressbar" tabindex="0"
          aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100"
          style="width:30%; display:inline-flex;"
        >
          <div class="progress-meter" style="width: @{status.volume}%"></div>
        </div>
        @playerControl(None, "volume-plus-btn")("small", "fi-plus", "progressbar-button")
    </div>
  </div>

  @**
  @change_playlist(playlists)
  **@
  <table id="playlist-table" class="full-width">
    <thead>
      <tr>
        <td>
            <a data-toggle="save-playlist-modal" class="fi-save size-60"
              id="save-playlist-btn"></a>
            <a href="@routes.Player.clearPlaylist">
              <span class="fi-page-delete size-60 step red"
                  id="clear-playlist-btn">
              </span>
            </a>
        </td>
        <td>#</td>
        <td>Title</td>
        <td>Length</td>
      </tr>
    </thead>
    <tbody>
      @titles.zipWithIndex.map(x => playlist_line(x._1, x._2))
    </tbody>
  </table>

  <div class="reveal" id="save-playlist-modal" data-reveal>
    <p>Save the playlist as:</p>
    <form action="@routes.Player.savePlaylist" method="post">
      <div class="input-group">
      <input class="input-group-field" type="text" placeholder="awesome-playlist-name" name="playlistname">
      <div class="input-group-button">
        <input type="submit" class="button" value="save">
      </div>
    </div></form>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
}
